<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
  <div id="root" class="m-center t-center">
    <h1>To Do List<i class="fa fa-thumb-tack ml-30" aria-hidden="true"></i></h1>
    <input placeholder="Scrivi qualcosa" class="text f-size no-border b-radius" type="text" @keyup.enter="insideArray" v-model="inputData">
    <input class="submit pointer f-size no-border b-radius" type="submit" name="" value="Submit" @click='insideArray'>
    <div class="list-container m-center t-center b-radius">
      <ul>
        <li v-for="(element, index) in dataArray" class="f-size">
          {{element}}
          <i class="fa fa-times ml-30 pointer" @click="removeElement(index)" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
